{% extends "templates/layouts/general.html" %}

{% block content %}
    <div class="container">
        <h2>Injam Web Samples</h2>

        <ul class="collection with-header">
            <li class="collection-header"><h4>All Samples</h4></li>

            <li class="collection-item">
                <a href="markers-google-maps.html"><b>Showing Objects on Map by markers</b></a>
                <small>Google Maps</small>
            </li>
            
            <li class="collection-item">
                <a href="markers-openstreetmap.html"><b>[Upcoming] Showing Objects on Map by markers</b></a>
                <small>Open Street Map</small>
            </li>
            
            <li class="collection-item">
                <a href="messaging.html"><b>Messaging</b></a>
            </li>
        </ul>
    </div>
{% endblock %}