{% extends "templates/layouts/general.html" %}

{% block content %}
    <div class="container">
        <h2>Injam Web Samples</h2>
        <h4><a href="index.html">←</a> Messaging</h4>
        <p>On the fly messaging</p>
    </div>

    <div id="board">
        <div class="container">
            <div class="row messages">
                <p>Type any message or subscribe a user to receive new messages...</p>
                <p>Your physical id is: demolx85b</p>
            </div>
        </div>
    </div>

    <div class="ha-actions full z-depth-4">
        <div class="row valign-wrapper">
            <div class="input-field col s2">
                <input placeholder="Enter physical id of a device" id="subscription" type="text">
                <label for="subscription">Subscriction</label>
            </div>
            <div class="col s3">
                <a class="waves-effect waves-teal btn-flat sub">Sub</a>
                <a class="waves-effect waves-red btn-flat unsub">Unsub</a>
            </div>
            <div class="input-field col s5">
                <input placeholder="Enter string, json or ..." id="data" type="text">
                <label for="data">Send Message</label>
            </div>
            <div class="col s2">
                <a class="waves-effect waves-teal btn-flat send">Send</a>
            </div>
        </div>
    </div>
{% endblock %}
