<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p><a target="_blank" href="https://injam.io/">Injam</a>, Next generation Real-Time machine.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Need help?</h5>
                <ul>
                    <li><a target="_blank" href="https://injam.io/docs">Docs</a></li>
                    <li><a target="_blank" href="https://injam.io/sdk">SDK</a></li>
                    <li><a target="_blank" href="https://github.com/injamio/">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>